@font-face {
  font-family: Akrobat;
  src: url(../fonts/akrobat.otf);
}

@font-face {
  font-family: arctica-script;
  src: url(../fonts/arcticascript.ttf);
}

@font-face {
  font-family: Corbel;
  src: url(../fonts/corbel.ttf);
}
