.discounts {
  &:after {
    content: url(../../images/discounts-shadow.png);
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.discounts__content {
  position: relative;
  margin-top: 75px;
  background-color: #f0f0ea;
  background-image: url(../../images/discounts-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  &:after {
    content: url(../../images/discounts-snowflake.png);
    position: absolute;
    top: 0;
    right: 0;
  }
  &:before {
    content: url(../../images/discounts-snowflake.png);
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 2;
  }
}

.discounts__sale {
  position: absolute;
  top: 5px;
  left: 270px;
}

.discounts__text {
  display: inline-block;
  font-size: 110px;
  font-family: arctica-script, sans-serif;
  color: #de2c2f;
  line-height: 0.8;
  position: absolute;
  padding-bottom: 15px;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px #fff, 3px -3px #fff, -3px 3px #fff, -3px -3px #fff,
    3px 3px 6px rgba(0, 0, 0, 0.5);
}

.discounts__snowman {
  position: absolute;
  right: 185px;
  top: 70px;
  z-index: 1;
}

.discounts__tree {
  position: absolute;
  right: 0;
}

.discounts__arrow {
  position: absolute;
  width: 111px;
  height: 231px;
  right: 45px;
  margin-top: -110px;
  background-image: url(../../images/discounts-arrow.png);
  background-position: 0;
  .arrow-text {
    font-size: 24px;
    color: #fff;
    font-family: arctica-script, sans-serif;
    position: relative;
    top: 120px;
    right: 20px;
    width: 150px;
    transform: rotate(-90deg);
  }
}
